<div>
	The most recent posts
<ul class="blog-posts">
{{ range ( where .Site.RegularPages "Type" "post" | first 3 ) }}
  <li>
  	<span>
  	  <i>
  	    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
  	      {{ .Date.Format "02 Jan, 2006" }}
  	    </time>
  	  </i>
  	</span>
  	<a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
{{end}}
</ul>
<a href="/post">Browse all posts</a>
</div>
<br>
<div>
	<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/MatejV" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/MatejV', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">You can subscribe to my newsletter</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p></p></form>
</div>